name: mailserver
services:
  server:
    image: ghcr.io/docker-mailserver/docker-mailserver:latest
    container_name: mailserver-server
    hostname: mail.destrostudios.com
    env_file: mailserver.env
    ports:
      - "25:25"   # SMTP  (explicit TLS => STARTTLS, Authentication is DISABLED => use port 465/587 instead)
      - "143:143" # IMAP4 (explicit TLS => STARTTLS)
      - "465:465" # ESMTP (implicit TLS)
      - "587:587" # ESMTP (explicit TLS => STARTTLS)
      - "993:993" # IMAP4 (implicit TLS)
    volumes:
      - /home/destroflyer/mailserver/dms/mail-data/:/var/mail/
      - /home/destroflyer/mailserver/dms/mail-state/:/var/mail-state/
      - /home/destroflyer/mailserver/dms/mail-logs/:/var/log/mail/
      - /home/destroflyer/mailserver/dms/config/:/tmp/docker-mailserver/
      - /etc/localtime:/etc/localtime:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    healthcheck:
      test: "ss --listening --tcp | grep -P 'LISTEN.+:smtp' || exit 1"
      timeout: 3s
      retries: 0
    stop_grace_period: 1m
    restart: always
  ui:
    image: roundcube/roundcubemail:latest
    container_name: mailserver-ui
    environment:
      ROUNDCUBEMAIL_DEFAULT_HOST: tls://mail.destrostudios.com
      ROUNDCUBEMAIL_SMTP_SERVER: tls://mail.destrostudios.com
    restart: always
  ui-proxy:
    build:
      dockerfile: proxy.Dockerfile
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - "8000:443"
    restart: always