name: jenkins
services:
  app:
    build:
      dockerfile: app.Dockerfile
      args:
        # Get GID via "getent group docker" on host
        GID_DOCKER: 998
    volumes:
      - /home/destroflyer/jenkins/jenkins_home:/var/jenkins_home
      # Docker socket from host, so that builds can build images and start containers on the host
      - /usr/bin/docker:/usr/bin/docker:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # Certificates directory, so that builds can directly access it via sh (not only indirectly by mounting again)
      - /etc/letsencrypt:/etc/letsencrypt:ro
      # Destrostudios apps directory, so that builds can release apps
      - /var/www/destrostudios/apps:/var/destrostudios/apps
    ports:
      - "50000:50000"
    restart: always
  proxy:
    build:
      dockerfile: proxy.Dockerfile
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - "9999:443"
    restart: always