name: jenkins
services:
  app:
    build:
      dockerfile: app.Dockerfile
      args:
        # Get GID via "getent group docker" on host
        GID_DOCKER: 998
    volumes:
      - /home/destroflyer/jenkins/jenkins_home:/var/jenkins_home
      # Expose docker socket from host, so that builds can use it
      - /usr/bin/docker:/usr/bin/docker:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # Mount certs directory, so that builds can access it outside of docker via sh
      - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - "50000:50000"
    restart: always
  proxy:
    image: nginx:latest
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    ports:
      - "9000:443"
    restart: always